// use this file to create reusable code
// use a % prefix to prevent compilation

@import "_partials/extras.partial";

%label-value {
  width: 100%;
  margin-bottom: 8px;
  .label,
  .manual-label {
    opacity: 0.62;
  }
  .value,
  .track-value {
    margin-left: 16px;
  }
}

%small-icon-button {
  width: 28px;
  height: 28px;
  line-height: 28px;
  .mat-icon {
    font-size: 1.5em;
  }
}
