@import '_colors/material-color-palette';
@import '_colors/custom-palette';
@import '_partials/coloring.partial';

// $primary: map-get($blueout, 500);
$primary: $light-blue600;
$accent: $amber600;
$primaryDark: $light-blue600;
$accentDark: $amber500;
$warn: $red500;
$success: $green500;

$appBackgroundColor: #eee;

$background: $appBackgroundColor;

$background1: darken($appBackgroundColor, 10);
$background2: darken($appBackgroundColor, 15);
$background3: darken($appBackgroundColor, 20);
$backgroundA1: lighten($appBackgroundColor, 10);
$backgroundA2: lighten($appBackgroundColor, 15);
$backgroundA3: lighten($appBackgroundColor, 20);

$backgroundDark: get-inverse-color($appBackgroundColor);

$backgroundDark1: darken($backgroundDark, 10);
$backgroundDark2: darken($backgroundDark, 15);
$backgroundDark3: darken($backgroundDark, 20);
$backgroundDarkA1: lighten($backgroundDark, 10);
$backgroundDarkA2: lighten($backgroundDark, 15);
$backgroundDarkA3: lighten($backgroundDark, 20);

$badgeColor: darken($appBackgroundColor, 60);
$badgeColorDark: darken($appBackgroundColor, 80);

$linkColor: $blue500;
$linkColorDark: $light-blue300;

// screen size vars

$xs: 'screen and (max-width: 599.99px)';
$sm: 'screen and (min-width: 600px) and (max-width: 959.99px)';
$md: 'screen and (min-width: 960px) and (max-width: 1279.99px)';
$lg: 'screen and (min-width: 1280px) and (max-width: 1919.99px)';
$xl: 'screen and (min-width: 1920px)';

// less than sizes

$lt-sm: 'screen and (max-width: 959.99px)';
$lt-md: 'screen and (max-width: 1279.99px)';
$lt-lg: 'screen and (max-width: 1919.99px)';
$lt-xl: 'screen and (max-width: 1920px)';

// greater than sizes

$gt-xs: 'screen and (min-width: 600px)';
$gt-sm: 'screen and (min-width: 960px)';
$gt-md: 'screen and (min-width: 1280px)';
$gt-lg: 'screen and (min-width: 1920px)';

$ipad-portrait: 'only screen and (min-device-width : 737px) and (max-device-width : 1023px) and (orientation : portrait)';
$ipad-landscape: 'only screen and (min-device-width : 737px) and (max-device-width : 1024px) and (orientation : landscape)';

$iphone-portrait: 'only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation : portrait)';
$iphone-landscape: 'only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation : landscape) ';
