// Extendables
//
// Reusable code that can be extended to be used between
// Use a % prefix to prevent compilation
//
// Styleguide Extendables

//

@import "_partials/extras.partial";

// Label/Value
//
// Markup: Will create label/value relationships for containers to mimic Angular Materials display of input data
// .class {
// @extend %label-value
// .label {
// }
// .value {
// }
// };
//
// Styleguide Extendables.label-value

%label-value {
  width: 100%;
  margin-bottom: 8px;
  .label,
  .manual-label {
    opacity: 0.62;
  }
  .value,
  .track-value {
    margin-left: 16px;
  }
}

// Small Icon Button
//
// Markup: Will add styling to make mat-icon-button smaller. To be used in areas where a larger button does not fit.
// .class {
// @extend %small-icon-button
// };
//
// Styleguide Extendables.small-icon-button

%small-icon-button {
  width: 28px;
  height: 28px;
  line-height: 28px;
  .mat-icon {
    font-size: 1.5em;
  }
}
