// ### USAGE NOTES ###
//
// @include dark() { .internal { color: blue } }
// will set  .dark { .internal { color: blue } }
@mixin dark() {
  .dark {
    @content;
  }
}

// ### USAGE NOTES ###
//
// @include rotate(180)
// will set transform: rotate 180deg);
@mixin rotate($degree) {
  transform: rotate(#{$degree}deg);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 225ms;
}

// ### USAGE NOTES ###
//
//
// will set
@mixin transition($duration: 125ms, $function: ease-in-out, $delay: 0, $properties...) {
  transition-property: $properties;
  transition-delay: $delay;
  transition-duration: $duration;
  transition-timing-function: $function;
}
// ### USAGE NOTES ###
//
//
// will set
@mixin small-icon-button() {
  width: 28px;
  height: 28px;
  line-height: 28px;
  .mat-icon {
    font-size: 1.5em;
  }
}
