// ### USAGE NOTES ###
//used to decorate text in the included block
//
// will set
@mixin clickable-text($color, $decoration) {
  color: $color;
  text-decoration: $decoration;
  cursor: pointer;

  md-icon {
    color: currentColor;
    text-decoration: none;
  }
}
// ### USAGE NOTES ###
// used to decorate a, click, href, routerLink, .clickable, and .click elements in the component/site
//
// will set
@mixin clickable-link($color) {
  a,
  [click],
  [href],
  [routerLink],
  .click,
  .clickable {
    &:not(.mat-button):not(.mat-menu-item) {
      color: $color;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.mat-icon,
      & .mat-icon {
        text-decoration: none !important;

        &:hover {
          text-decoration-line: none !important;
        }
      }
    }
  }
}

// ### USAGE NOTES ###
//
//
// will set
@mixin manual-label() {
  label.manual {
    color: rgba(set-inverse-text-color($backgroundA1), 0.5);
    display: block;
    font-size: 0.75em;
    line-height: 1em;
    margin-top: 16px;
    margin-right: 8px;
    margin-bottom: 4px;
  }
  .dark {
    label.manual {
      color: rgba(set-inverse-text-color($backgroundDark2), 0.5);
    }
  }
}

// ### USAGE NOTES ###
//
//
// will set
@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
